{% set dlist = domainname.split('.') %}
$TTL 3600
@ SOA ns.{{ domainname }}. root.{{ domainname }}. (1 15m 5m 30d 1h)
        IN    NS    {{ dlist[1] }}
        IN    A     1.1.1.1


lb         IN    A    {{ loadbalancer_ip }}
api         IN    A    {{ loadbalancer_ip }}
api-int         IN    A    {{ loadbalancer_ip }}
*.apps          IN    A    {{ loadbalancer_ip }}


{% for ip in masters_api_ip_list %}
; IPv4 address records
master{{ loop.index }}-ipv4   IN  A       {{ ip.split(',')[0] }}
etcd-{{ loop.index0 }}-ipv4  IN  A       {{ ip.split(',')[0] }}

; IPv6 address records
master{{ loop.index }}-ipv6   IN  AAAA    {{ ip.split(',')[1] }}
etcd-{{ loop.index0 }}-ipv6  IN  AAAA    {{ ip.split(',')[1] }}
{% endfor %}

{% for ip in workers_api_ip_list %}
; IPv4 address record
worker{{ loop.index }}-ipv4   IN  A   {{ ip.split(',')[0] }}

; IPv6 address record
worker{{ loop.index }}-ipv6   IN  AAAA   {{ ip.split(',')[1] if ',' in ip else '' }}
{% endfor %}


bootstrap  IN    A    {{ bootstrap_vars.node_ip }}

{{ dlist[1] }}    IN    A    {{ loadbalancer_ip }}

_etcd-server-ssl._tcp  SRV 0 10 2380 etcd-0
                       SRV 0 10 2380 etcd-1
                       SRV 0 10 2380 etcd-2
