provider "vsphere" {
  user           = "{{ vsphere.user }}"
  password       = "{{ vsphere.passwd }}"
  vsphere_server = "{{ vsphere.server }}"

  # If you have a self-signed cert
  allow_unverified_ssl = true
}

data "vsphere_datacenter" "dc" {
  name = "{{ vsphere.datacenter_name }}"
}

data "vsphere_compute_cluster" "cluster" {
  name          = "{{ vsphere.cluster_name }}"
  datacenter_id = "${data.vsphere_datacenter.dc.id}"
}

data "vsphere_datastore" "datastore1" {
  name          = "{{ vsphere.datastore_name }}"
  datacenter_id = "${data.vsphere_datacenter.dc.id}"
}

data "vsphere_virtual_machine" "RHCOS_template" {
  name          = "{{ vsphere.RHCOS_template_name }}"
  datacenter_id = "${data.vsphere_datacenter.dc.id}"
}

data "vsphere_network" "network" {
  name          = "{{ node_net_port_group }}"
  datacenter_id = "${data.vsphere_datacenter.dc.id}"
}

variable "bootstrap_mac" {
    description = "OCP 4 Bootstrap MAC Address"
    type        = string
    default     = "{{ bootstrap_vars.node_mac }}"
}

variable "bootstrap_ignition_url" {
    #base64string
    default = "ewogICJpZ25pdGlvbiI6IHsKICAgICJjb25maWciOiB7CiAgICAgICJhcHBlbmQiOiBbCiAgICAgICAgewogICAgICAgICAgInNvdXJjZSI6ICJodHRwOi8vMTkyLjE2OC4xOC4xMDA6ODA4MC9pZ25pdGlvbi9ib290c3RyYXAuaWduIiwKICAgICAgICAgICJ2ZXJpZmljYXRpb24iOiB7fQogICAgICAgIH0KICAgICAgXQogICAgfSwKICAgICJ0aW1lb3V0cyI6IHt9LAogICAgInZlcnNpb24iOiAiMi4xLjAiCiAgfSwKICAibmV0d29ya2QiOiB7fSwKICAicGFzc3dkIjoge30sCiAgInN0b3JhZ2UiOiB7fSwKICAic3lzdGVtZCI6IHt9Cn0K"
}
