option domain-name "{{ aci_system_id }}.{{ basedomain }}";
option domain-name-servers {{ domain_nameserver }};

default-lease-time 600;
max-lease-time 7200;

# Use this to send dhcp log messages to a different log file (you also
# have to hack syslog.conf to complete the redirection).
log-facility local7;

subnet {{ machine_network }} netmask {{ machine_network_netmask }} {
    option routers {{ machine_network_gateway }};
}

host bootstrap {
  hardware ethernet {{ bootstrap_vars.node_mac }};
  option host-name "bootstrap.{{ aci_system_id }}.{{ basedomain }}";
  fixed-address {{ bootstrap_vars.node_ip }};
}

{% for item in masters_vars.nodes %}
{% set outer_loop = loop %}
{% for node in item.keys() %}
host master{{outer_loop.index}} {
  hardware ethernet {{ masters_vars.nodes[outer_loop.index0][node]['api_mac']}};
  option host-name "master{{ outer_loop.index }}.{{aci_system_id}}.{{basedomain}}";
  fixed-address {{ masters_vars.nodes[outer_loop.index0][node]['ip']}};
}
{% endfor %}
{% endfor %}

{% for item in workers_vars.nodes %}
{% set outer_loop = loop %}
{% for node in item.keys() %}
host worker{{outer_loop.index}} {
  hardware ethernet {{ workers_vars.nodes[outer_loop.index0][node]['api_mac']}};
  option host-name "worker{{ outer_loop.index }}.{{aci_system_id}}.{{basedomain}}";
  fixed-address {{ workers_vars.nodes[outer_loop.index0][node]['ip']}};
}
{% endfor %}
{% endfor %}

