TYPE=Vlan
PHYSDEV=ens224
VLAN_ID={{ aci_infra_vlan }}
GVRP=no
MVRP=no
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO=dhcp
PEERDNS=no
IPV4_FAILURE_FATAL=no
IPV6INIT=no
NAME=opflex
DEVICE=ens224.{{ aci_infra_vlan }}
ONBOOT=yes
MTU={{ opflex_interface_mtu }}
