apiVersion: v1
{% set dlist = domainname.split('.') %}
{% set basedomain = dlist[1::]|join('.') %}
baseDomain: {{ basedomain }}
{% if proxy_env.http_proxy is defined  and proxy_env.https_proxy is defined %}
proxy:
  httpProxy: {{ proxy_env.http_proxy }}
  httpsProxy: {{ proxy_env.https_proxy }}
{% if proxy_env.no_proxy is defined %}
  noProxy: .{{ domainname }},.{{ basedomain }},{{ aci_apic_hosts|join(',') }},{{ service_network_cidr | next_nth_usable(1) }},{{ service_network_cidr | next_nth_usable(10) }},.apps.{{ domainname }},{{ platform.vsphere.vcenters[0].server }},{{ machine_network_cidr }},{{ proxy_env.no_proxy }}
{% else %}
  noProxy: .{{ domainname }},.{{ basedomain }},{{ aci_apic_host|join(',') }},{{ service_network_cidr | next_nth_usable(1) }},{{ service_network_cidr | next_nth_usable(10) }},.apps.{{ domainname }},{{ platform.vsphere.vcenters[0].server }},{{ machine_network_cidr }}
{% endif %}
{% endif %}

compute:
- hyperthreading: Enabled
  name: worker
  replicas: {{ workers_api_ip_list | length }}
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: {{ masters_api_ip_list | length }}
metadata:
  name: {{ dlist[0] }}
networking:
  clusterNetwork:
  - cidr: {{ cluster_network_cidr }}
    hostPrefix: 23
  networkType: CiscoACI
  machineNetwork:
  - cidr: {{ machine_network_cidr }}
  serviceNetwork:
  - {{ service_network_cidr }}
platform:
  vsphere:
    vcenters:
    - server: {{ platform.vsphere.vcenters[0].server }}
      user: {{ platform.vsphere.vcenters[0].user }}
      password: {{ platform.vsphere.vcenters[0].password }}
      datacenters:
      - {{ platform.vsphere.vcenters[0].datacenters[0] }}
    failureDomains:
    - name: {{ platform.vsphere.failureDomains[0].name }}
      region: {{ platform.vsphere.failureDomains[0].region }}
      zone: {{ platform.vsphere.failureDomains[0].zone }}
      server: hypf-vc65.noiro.lab
      topology:
        computeCluster: {{ platform.vsphere.failureDomains[0].topology.computeCluster }}
        networks:
        - VM Network
        datacenter: {{ platform.vsphere.vcenters[0].datacenters[0] }}
        datastore: {{ platform.vsphere.failureDomains[0].topology.datastore }}
pullSecret: '{{ openshift_pullsecret | to_json }}'
{% if user_ssh_key is defined %}
sshKey: '{{ user_ssh_key }}'
{% else %}
sshKey: '{{ ssh_public_key }}'
{% endif %}
{% if additional_trust_bundle is defined %}
additionalTrustBundle: |
{{ additional_trust_bundle | indent(width=3,indentfirst=True) }}
{% endif %}
