apiVersion: v1
{% set dlist = domainname.split('.') %}
{% set basedomain = dlist[1::]|join('.') %}
{% if proxy_env.http_proxy is defined  and proxy_env.https_proxy is defined %}
proxy:
  httpProxy: {{ proxy_env.http_proxy }}
  httpsProxy: {{ proxy_env.https_proxy }}
{% if proxy_env.no_proxy is defined %}
  noProxy: .{{ domainname }},.{{ basedomain }},{{ aci_apic_hosts|join(',') }},172.30.0.1,172.30.0.10,.apps.{{ domainname }},{{ vsphere.server }},{{ machine_network_cidr }},{{ proxy_env.no_proxy }}
{% else %}
  noProxy: .{{ domainname }},.{{ basedomain }},{{ aci_apic_host|join(',') }},172.30.0.1,172.30.0.10,.apps.{{ domainname }},{{ vsphere.server }},{{ machine_network_cidr }}
{% endif %}
{% endif %}

compute:
- hyperthreading: Enabled
  name: worker
  replicas: {{ workers_api_ip_list | length }}
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: {{ masters_api_ip_list | length }}
metadata:
  name: {{ dlist[0] }}
networking:
  clusterNetwork:
  - cidr: {{ cluster_network_cidr }}
    hostPrefix: 23
  networkType: CiscoACI
  machineNetwork:
  - cidr: {{ machine_network_cidr }}
  serviceNetwork:
  - 172.30.0.0/25
platform:
  vsphere:
    vcenter: {{ vsphere.server }}
    username: {{ vsphere.user }}
    password: {{ vsphere.passwd }}
    datacenter: {{ vsphere.datacenter_name }}
    defaultDatastore: {{ vsphere.datastore_name }}
pullSecret: '{{ openshift_pullsecret | to_json }}'
{% if user_ssh_key is defined %}
sshKey: '{{ user_ssh_key }}'
{% else %}
sshKey: '{{ ssh_public_key }}'
{% endif %}
{% if additional_trust_bundle is defined %}
additionalTrustBundle: |
{{ additional_trust_bundle | indent(width=3,indentfirst=True) }}
{% endif %}
